<link rel="stylesheet" href="./css/Blogs.css">

<div class="blogs-container">
    <div id="blog-post">
        <% if(blog) {%>
            <h2>
                <%= blog.title %>
            </h2>
            <div class="blog-meta">
                <%= blog.content %>
            </div>
            <% } else { %>
                <h1>Blogs Not Found</h1>
        <% } %>

    </div>
</div>