<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
</head>

<body>
    <header style="background-color: #191919;">
        <div  class="nav container">
            <a href="/" class="logo">Code <span>myhobby</span></a>
            <div >
                <a href="/login" class="login">Login</a>
                <a href="/add-blogs" class="login">Add Blogs</a>
                <a href="/signup" class="login">Sign Up</a>
                <a href="/about" class="login">About</a>
            </div>
        </div>
    </header>
</body>

</html>