<main class="main-wrapper">
  <!-- ========== header start ========== -->
  <header class="header">
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-5 col-md-5 col-6">
          <div class="header-left d-flex align-items-center">
            <div class="menu-toggle-btn mr-15">
              <button id="menu-toggle" class="main-btn primary-btn btn-hover">
                <i class="lni lni-chevron-left me-2"></i> Menu
              </button>
            </div>
            <div class="header-search d-none d-md-flex">
              <form action="#">
                <input type="text" placeholder="Search..." />
                <button><i class="lni lni-search-alt"></i></button>
              </form>
            </div>
          </div>
        </div>
        <div class="col-lg-7 col-md-7 col-6">
          <div class="header-right">

            <!-- profile start -->
            <div class="profile-box ml-15">
              <button class="dropdown-toggle bg-transparent border-0" type="button" id="profile"
                data-bs-toggle="dropdown" aria-expanded="false">
                <div class="profile-info">
                  <div class="info">
                    <div class="image">
                      <img src="assets/images/profile/profile-image.png" alt="" />
                    </div>
                    <div>
                      <h6 class="fw-500">Adam Joe</h6>
                      <p>Admin</p>
                    </div>
                  </div>
                </div>
              </button>

            </div>
            <!-- profile end -->
          </div>
        </div>
      </div>
    </div>
  </header>
  <!-- ========== header end ========== -->

  <!-- ========== section start ========== -->
  <section class="section">
    <div class="container-fluid m-4 ">
      <div class="row">
        <div class="col-lg-6">
          <div class="card-style settings-card-2 mb-30">
            <div class="title mb-30">
              <h2>Add Blogs</h2>
            </div>
            <form action="#">
              <div class="row">
                <div class="col-12">
                  <div class="input-style-1">
                    <label>Title</label>
                    <input type="text" placeholder="Enter Title" />
                  </div>
                </div>

                <div class="col-xxl-12">
                  <div class="select-style-1">
                    <label>Country</label>
                    <div class="select-position">
                      <select class="light-bg">
                        <option value="">Select category</option>
                        <option value="">USA</option>
                        <option value="">UK</option>
                        <option value="">Canada</option>
                        <option value="">India</option>
                        <option value="">Bangladesh</option>
                      </select>
                    </div>
                  </div>
                </div>
                <div class="col-12">
                  <div class="input-style-1">
                    <label>Content</label>
                    <textarea placeholder="Type here" rows="6"></textarea>
                  </div>
                </div>
                <div class="col-12">
                  <button class="main-btn primary-btn btn-hover">
                    Upload Blogs
                  </button>
                </div>
              </div>
            </form>
          </div>
          <!-- end card -->
        </div>
        <!-- end col -->
      </div>
      <!-- end row -->
    </div>
    <!-- end container -->
  </section>
  <!-- ========== section end ========== -->

</main>