<aside class="sidebar-nav-wrapper">
    <div class="navbar-logo">
        <div class="title mb-30">
            <h2>Blogs Admin</h2>
        </div>
    </div>
    <nav class="sidebar-nav">
        <li class="nav-item active">
            <a href="/admin/add-blogs">
                Add Blogs
            </a>
        </li>
        <li class="nav-item active">
            <a href="/admin/list-blogs">
                List Blogs
            </a>
        </li>
    </nav>
</aside>